@model IEnumerable<AtmLocator.Models.Atm>

@{
    ViewData["Title"] = "Index";
}

<input type="hidden" id="locationsAtms" data-value="@ViewBag.locations" />

<h2 id="nearestAtm"></h2>
<span>If you want to look at the route from your current location to the nearest atm please write the given coordinates into the search box</span>
<p>If you want to find the way to a given atm please click on the details button</p>

<h4>Atms in Skopje</h4>

<div id="map" style="height:360px"></div>
<script>
    //mapping all the Atms in Skopje on interactive map.
    mapAllAtmsOnMap();
</script>

<table class="table" id="atmsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wheelchair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drive_Through)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wheelchair)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Drive_Through)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="hidden" data-lat="" data-lon="" id="userPos" />
<input type="hidden" id="url" value="" />
<input type="hidden" id="rastojanija" value="" />

@section scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        $("#atmsTable").DataTable();

        var locations = $("#locationsAtms").data("value");
        console.log(locations);

        //navigator.geolocation.getCurrentPosition(showPosition);

        function showPosition(position) {
            $("#userPos").data("lat", position.coords.latitude);
            $("#userPos").data("lon", position.coords.longitude);
            var userLAT = $("#userPos").data("lat");
            var userLON = $("#userPos").data("lon");
            console.log("LATITUDE: " + userLAT + " LONGITUDE: " + userLON);
            lokacii = "[{latLng:{lat:" + userLAT + ",lng:" + userLON + "}},";
            lokacii_soUser = lokacii + "" + $("#locationsAtms").data("value");
            console.log(lokacii_soUser);
            var url = 'https://open.mapquestapi.com/directions/v2/routematrix?key=QbatUJWoSWVuXhsUyWPuUjWCwBTUM6TJ&json={locations:' + lokacii_soUser +
                ',options:{allToAll:false}}';
            console.log("URL E ______________________ " + url);
            $("#url").attr("value", url);
            url_bezLink = lokacii_soUser + ',options:{allToAll:false}}';

            $.ajax({
                url: url,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    console.log(data['distance']);

                    var distances = data['distance'];
                    console.log("DISTANCES[1] e " + distances[1]);
                    $("#rastojanija").attr("value", distances);
                    var site_atms = $("#locationsAtms").data("value");
                    console.log(site_atms);
                    var min = distances[1];
                    var min_index = 1;
                    for (var i = 1; i < 100; i++) {
                        if (distances[i] < min) {
                            min = distances[i];
                            min_index = i;
                        }
                    }
                    console.log("min e " + min + "so br.index " + min_index);
                    var listaAtms = site_atms.split('latLng:');
                    $("#nearestAtm").text("The nearest Atm to your current location is the atm with coordinates:" + listaAtms[min_index].substring(1, 30));
                }
            });
        }

        $(document).ready(function () {
            navigator.geolocation.getCurrentPosition(showPosition);

        });
    </script>
}