@model IEnumerable<AtmLocator.Models.Atm>

@{
    ViewData["Title"] = "Index";
}

<input type="hidden" id="locationsAtms" data-value="@ViewBag.locations" />

<h2 id="nearestAtm"></h2>
<span>If you want to look at the route from your current location to the nearest atm please write the given coordinates into the search box</span>
<p>If you want to find the way to a given atm please click on the details button</p>

<h4>Atms in Skopje</h4>

<div id="map" style="height:360px"></div>
<script>
    //mapping all the Atms in Skopje on interactive map.
    mapAllAtmsOnMap();
</script>

<table class="table" id="atmsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wheelchair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drive_Through)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wheelchair)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Drive_Through)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="hidden" data-lat="" data-lon="" id="userPos" />
<input type="hidden" id="url" value="" />
<input type="hidden" id="rastojanija" value="" />

@section scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        $("#atmsTable").DataTable();
        // get all atm locations
        var locations = $("#locationsAtms").data("value");

        function findNearestAtm(position) {
            // get user location
            $("#userPos").data("lat", position.coords.latitude);
            $("#userPos").data("lon", position.coords.longitude);
            //user latitude
            var userLAT = $("#userPos").data("lat");
            //user longitude
            var userLON = $("#userPos").data("lon");

            // add user location to the locations of all atms and put them in param lokacii_soUser
            lokacii_soUser = "[{latLng:{lat:" + userLAT + ",lng:" + userLON + "}}," + "" + $("#locationsAtms").data("value");

            // create the url for ajax call
            var url = 'https://open.mapquestapi.com/directions/v2/routematrix?key=QbatUJWoSWVuXhsUyWPuUjWCwBTUM6TJ&json={locations:' + lokacii_soUser +
                ',options:{allToAll:false}}';
            console.log("URL E ______________________ " + url);
            $("#url").attr("value", url);

            // make ajax call to mapquestapi.com to get distance from user to all atm locations
            $.ajax({
                url: url,
                dataType: "json",
                success: function (data) {

                    var distances = data['distance'];
                    // find the atm that is closest to the user's location
                    //input argument is an array that contains all the distances from user location to all atm locations
                    findMinDistance(distances);
                }
            });
        }


        function findMinDistance(distances) {

            $("#rastojanija").attr("value", distances);
            // get all atm locations
            var site_atms = $("#locationsAtms").data("value");
            // get first element in the array
            var min = distances[1];
            // put min_index as 1
            var min_index = 1;
            for (var i = 1; i < 100; i++) {
                if (distances[i] < min) {
                    // if distance is smaller than the min distance , replace the min distance with distance[i] and put min_index to i
                    min = distances[i];
                    min_index = i;
                }
            }

            var listaAtms = site_atms.split('latLng:');
            // put the coordinates to the nearest atm to a h2 tag so the user is notified about which and where is the nearest atm
            $("#nearestAtm").text("The nearest Atm to your current location is the atm with coordinates:" + listaAtms[min_index].substring(1, 30));

        }


        $(document).ready(function () {
            // get user location and input argument is the function findNearestAtm - which finds nearest atm to users location
            navigator.geolocation.getCurrentPosition(findNearestAtm);
        });
    </script>
}